.titre1, commentaire
{
   text-align: center;
}

h3
{
    font-style: italic;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.r1,.r2
{
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

a
{
background-color:#F4F9FD;
border:1px groove black;
padding:0.5em;
position: absolute;
left:50%;
top:60%;
}


