body
{
   background-color: #d0e4fe;
}



.titre1, .commentaire
{
   text-align: center;
}

h3
{
    font-style: italic;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.r1,.r2,.r3,.r4
{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


a
{
background-color:#F4F9FD;
border:1px groove black;
padding:0.5em;
position: absolute;
right:0%;
top:100%;
}


